
@using EagleDigital.Common.Model.TenantTwo

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/can.jquery.js"></script>
    <script src="~/Scripts/hf-init-v3.1-jq.js"></script>
    <script src="~/Scripts/autocomplete-loader-v3.1-jq.js"></script>
    <script src="~/Scripts/autocomplete-loader-store-jq.js"></script>
    <script src="~/Scripts/hf-init-v3.1-jq.js"></script>
    <script src="~/Scripts/caas-privacy-cookie-3.1.js"></script>
    <script src="~/Scripts/privacy_cookie.JS"></script>
    <link href="~/Content/blend-home.min.css" rel="stylesheet" />
    <link href="~/Content/hf-v3.1.css" rel="stylesheet" />
    <link href="~/Content/hps-fontface-core.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ot-layout.css" rel="stylesheet" />
    <link href="~/Content/retail-solutions_layout.css" rel="stylesheet" />
    
    
    @*<script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Content/Angular/Module/Module.js"></script>
    <script src="~/Content/Angular/Service/Service.js"></script>
    <script src="~/Content/Angular/Controller/Controller.js"></script>*@

    <link rel="stylesheet" href="http://welcome.hp-ww.com/country/us/en/cs/system/styles/cssFiles_jsp_compURI_1237149_1458011_amp_inline_images_yes.css">
    <link rel="stylesheet" href="http://welcome.hp-ww.com/country/us/en/home-b/system/styles/blend-home.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="everything">
        <div class="header" id="header">
            <div class="header_container hf_clf">
                <div class="hp_logo">
                    <a href="" name="1414644" shape="rect" tabindex="1" title="HP® Official Site | Laptop Computers, Desktops , Printers, Servers and more">
                        <img xmlns="" width="70" height="70" alt="HP® Official Site   | Laptop Computers, Desktops , Printers, Servers and more" class="hf_no_printable" src="~/Content/Image/eagle.png">
                    </a>
                </div>
                <span class="skip-links">
                    <a class="screenReading js-skip-link" href="#skiptobody" shape="rect" tabindex="1">Skip to Content</a>
                    <a class="screenReading js-skip-link" href="#skiptofooter" shape="rect" tabindex="1">Skip to Footer</a>
                </span>
                <div class="hdr_widgets wm_no_widgets" id="widget_menu">
                    <div class="search_block sb_no_widgets js_search search_hp">
                        <form xmlns="" action="" enctype="application/x-www-form-urlencoded" id="searchHP" method="get" name="searchHP">
                            <input name="client" type="hidden" value=""><input disabled="disabled" name="jumpID" type="hidden" value=""><div xmlns="http://www.w3.org/1999/xhtml" class="search_container search_container_inactive">
                                <div class="search_mob_container hf_clf">
                                </div>
                            </div>
                            <span xmlns="http://www.w3.org/1999/xhtml" class="defaultTxt hidden">Search HP.com</span><span xmlns="http://www.w3.org/1999/xhtml" class="js_metricId hidden">1676317</span><input name="charset" type="hidden" value="utf-8">
                        </form>
                    </div>
                </div>
            </div>
            <a name="skiptobody" shape="rect" tabindex="-1"><span class="screenReading">Beginning content</span></a>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
  
    
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">
    // H&F vars declaration
    var templateType = 'no_toolbar';
    var wip = true;
    var hpAbsDir = '/us/en/';
    var rtl = false;
    var community_jsp = '/us/en/system/include/lithium_v2_hpe.jsp';
    var cselector_jsp = '/us/en/system/include/country_selector_hpe.html';
    var shadowIMG = "http://www.www8-hp.com/us/en/images/i/shadow_diagonal_107.png";
</script>


<style>.mboxDefault { visibility:hidden; }</style>
<style>
    .num {font-size:10px; position: relative; vertical-align: baseline; top: -0.3em; *top:-0.3em;}
    .numTitle {font-size:13px; position: relative; vertical-align: baseline; top: -0.4em; color:#000 !important;}
    .aligncopy {text-align:center !important;}
    .colorcopy {color:#5a5a5a !important;}
</style>

<script type="text/javascript">mboxCreate('HomeHero_BK_POC', 'profile.BK_seg=' + window.BK_POC.offerValue);</script>

<script type="text/javascript">mboxCreate('HomeHero_BK_POC', 'profile.BK_seg=' + window.BK_POC.offerValue);</script><div id="mboxMarker-default-HomeHero_BK_POC-0" style="visibility:hidden;display:none">&nbsp;</div><script src="./HP® Official Site _ Laptop Computers, Desktops, Printers, Servers, Services and more_files/standard"></script><div style="visibility: hidden; display: none" id="mboxImported-default-HomeHero_BK_POC-0"><!-- Offer Id: 93081  --><script type="text/javascript">
    window.ttMETA = (typeof (window.ttMETA) != 'undefined') ? window.ttMETA : []; window.ttMETA.push({ 'mbox': 'HomeHero_BK_POC', 'campaign': '', 'experience': '', 'offer': '' }); window.ttMBX = function (x) { var mbxList = []; for (i = 0; i < ttMETA.length; i++) { if (ttMETA[i].mbox == x.getName()) { mbxList.push(ttMETA[i]) } } return mbxList[x.getId()] }
</script>


<script src="~/Scripts/hpweb_geolocation.js"></script>

<script src="~/Scripts/blend-home-hpe.min.js"></script>
<script src="~/Scripts/abmvt2.js"></script>                                                                                                                                                                                                                                                                                                                                                    <script src="~/Scripts/abmvt2.js"></script>
                                                                                                                                                                                                                                                        
<script type="text/javascript">
    $(window).on({
        'load': function () { geoLocation(); },
        'unload': function () { geoLocation(true); }
    });
</script>

<script type="text/javascript">
    //<![CDATA[
    window.SCREENREADING_LABELS = {
        'open_menu_prefix': "Open ",
        'open_menu_suffix': " Menu",
        'close_menu_prefix': "Close ",
        'close_menu_suffix': " Menu",

        'opened_state_menu_prefix': "Menu ",
        'opened_state_menu_suffix': " is opened",
        'closed_state_menu_prefix': "Menu ",
        'closed_state_menu_suffix': " is closed",

        'opened_state_submenu_suffix': "Press Right Arrow or Space to open",

        'open_popup_prefix': "Open ",
        'open_popup_suffix': " Dialog",
        'close_popup_prefix': "Close ",
        'close_popup_suffix': " Dialog",

        "expand_prefix": "Expand ",
        "expand_suffix": "",
        "collapse_prefix": "Collapse",
        "collapse_suffix": "",
        "search_box_suggestion_title": "Use arrow keys to select a search suggestion"
    };
    HP.hfInit({
        countrySelectorURL: "http://www8.hp.com/caas/header-footer/us/en/default/3.0.m/footer/country-selector?contentType=jsonp",
        countryCode: "us",
        languageCode: "en",
        autocompleteParams: [{ "type": "iap-fast", "title": "All of HP.com", "inProgressHTML": "Searching HP.com...", "noResultsHTML": "Did not find what you were looking for?\n<br xmlns=\"http:\/\/www.w3.org\/1999\/xhtml\" \/>\nClick <a href=\"http:\/\/www8.hp.com\/@@country_code@@\/@@language_code@@\/hp-search\/search-results.html?qt=@@term@@&amp;client=@@client@@&amp;search_context=@@search_context@@\" xmlns=\"http:\/\/www.w3.org\/1999\/xhtml\">here for more results<\/a>", "count": 5, "actionURL": "\/\/www8.hp.com\/us\/en\/hp-search\/search-results.html?search_context=@@search_context@@&client=@@client@@&qt=@@term@@", "url": "\/\/iapproltautocm.austin.hp.com\/hp-iap-autocomplete\/search", "callbackParam": "cb" }, { "type": "hho-store", "title": "HP Store", "inProgressHTML": "Searching HP Store ...", "noResultsHTML": "Searching HP Store ...", "count": 5, "actionURL": "http:\/\/store.hp.com\/webapp\/wcs\/stores\/servlet\/SearchDisplay?searchTerm=@@term@@&beginIndex=0&catalogId=10051&langId=-1&pageSize=50&pageView=list&resultCatEntryType=2&sType=SimpleSearch&searchSource=Q&storeId=10151", "url": "\/\/store.hp.com\/webapp\/wcs\/stores\/servlet\/SearchComponentAutoSuggestView?coreName=MC_10001_CatalogEntry_en_US&serverURL=http:\/\/g1t4186.austin.hp.com:9081\/solr\/MC_10001_CatalogEntry_en_US&langId=-1&storeId=10151&catalogId=10051&showHeader=true&lang=en", "callbackParam": "cbf", "defaultCookieValue": false }]
    });
    //]]>
</script>  