<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Danh gia vọng tộc</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/css")

    <script src="~/Scripts/Materialize/main.js"></script>
    <script src="~/Scripts/Materialize/materialize.js"></script>

    <link href="~/Content/Materialize/materialize.css" rel="stylesheet" />
    <link href="~/Content/Materialize/style.css" rel="stylesheet" />
    <link href="~/Content/Materialize/font-awesome.min.css" rel="stylesheet"/>

    

</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

</body>
</html>